.Footer{
    bottom: 0;
    width: 100%;
    color:white;
    background-color: rgb(2, 70, 2);
    padding: 5px;
    text-decoration: none;
}

.footerText{
    text-decoration: none;
    color: white;
}
.footerText:hover{
    color:rgb(0, 153, 255);
}