.home{
    background-image: "url('/park.png')";
    width: "100%";
    padding-top: '23rem';
    padding-bottom: '30rem';
    color: 'white';
    backdrop-filter: 'brightness(150%)';

}
.homeButtons{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.linkButton{
    margin: 5px;
}